body {
 background: #f7f7f7;
 font-family: Arial, Helvetica;
}
.navbar {
 display: flex;

 color: #222;
}
h1 {
 text-align: center;
 margin: 50px;
}
a {
 padding: 10px;
 text-decoration: none;
 background-color: white;
}
